@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background: hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

.card {
    width: 280px;
    background: #FFF;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

div.attribution {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    text-align: center;
}

.attribution > a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}